.hero {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    position: relative;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__banner {
    position: absolute;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
    object-position: top;
    filter: contrast(100%);
}

.hero__nav {
    display: flex;
    justify-content: space-between;

    max-width: var(--max-width);
    width: 100%;

    padding: 15px 0;
    margin: 0 auto;
}

.hero__nav ul {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

.hero__nav li:not(:last-child)::after {
    content: '';
    position: relative;
    left: calc(100% + 5px);
    top: -100%;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #FFFFFF;
}

.link {
    color: var(--color-secondary);
}

.link-active {
    color: #FFFFFF;
    font-weight: 600;
}

.hero__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    max-width: var(--max-width);
    width: 100%;
}

.footer_row {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.hero__price {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;

    filter: var(--shadow-dark-blue);

    border-radius: 5px;
    background-color: var(--color-primary);
}