.button_view {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 74px;
    height: 20px;

    font-size: 12px;
    text-transform: uppercase;

    background-color: unset;
    border: 1px solid #FFFFFF;
}