:root {
  --max-width: 1200px;
  --aside-width: 250px;
  --navbar-height: 64px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-background-navbar: #FFFFFF;
  --color-background: #1F1F1F;
  --color-primary: #0072CE;
  --color-secondary: #C4C4C4;
  --color-dark-grey: #383838;

  --shadow-dark-blue: drop-shadow(0 0 15px var(--color-primary))
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: unset;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-background)
}

/* main {
  width: 100%;
  display: flex;
  flex-direction: column;
} */

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 27px;
  font-weight: 700;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
